.board-game-tag-list {
    display: flex;
    flex-flow: row wrap;
}

.board-game-tag-list .board-game-tag-list-item {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.board-game-tag-list .board-game-tag-list-item:last-child {
    margin-right: 0;
}