* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #EEE2DC; */
  background-color: #EFEFEF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  min-height: 100%;
}
body {
  height: 100% !important;
  flex-grow: 1;
}
html {
  display: flex;
  flex-flow: column nowrap;
}
body {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
#root {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}