.board-game-badge {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    cursor: pointer;
}

.board-game-badge-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.board-game-badge:hover .board-game-badge-background {
    transform: scale(1.15);
}

.board-game-badge-content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow:  column nowrap;
    align-items: center;
    padding: 0.5rem 0.25rem;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
    color: white;
    z-index: 3;
}

.board-game-badge .board-game-name {
    margin: 0;
    padding: 0;
    font-size: 1.15rem;
    text-align: center;
    font-weight: 400;
}

.board-game-badge .board-game-badge-details {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.board-game-badge .board-game-badge-details span {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
}

.board-game-badge .board-game-badge-details span i {
    font-size: 0.7rem;
}

@media (max-width: 768px) {
    .board-game-badge-content {
        padding: 0.5rem;
    }
    .board-game-badge .board-game-name {
        font-size: 1rem;
    }
    .board-game-badge .board-game-badge-details span {
        font-size: 0.7rem;
    }
    .board-game-badge .board-game-badge-details span i {
        font-size: 0.6rem;
    }
}

@media (max-width: 480px) {
    .board-game-badge-content {
        padding: 0.5rem 0.15rem;
    }
    .board-game-badge .board-game-name {
        font-size: 0.75rem;
    }
    .board-game-badge .board-game-badge-details span {
        font-size: 0.6rem;
    }
    .board-game-badge .board-game-badge-details span i {
        font-size: 0.5rem;
    }
}