.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

.hero-title {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-text {
    padding: 0;
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 300;
}